html {
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: whitesmoke;
    position: relative;
    width: 45vw;
    height: 45vh;
    padding: 10px;
    border-radius: 5px;
    
}

.myComments {
    width: 350px;
    height: 150px;
}

.groupA label{
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
}
